In [1]:
!gdown 1CoTy1ZnYZqsKWUgjM353KVLqJtTLWo-v

Downloading...
From: https://drive.google.com/uc?id=1CoTy1ZnYZqsKWUgjM353KVLqJtTLWo-v
To: /content/nba_stats.csv
100% 3.50M/3.50M [00:00<00:00, 200MB/s]

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('nba_stats.csv')

In [4]:
df.head()

,year,name,playerId,playerSlug,positionId,teamId,status,gamesPlayed,avgMinutes,avgFouls,...,position,birthdate,college,draftinfo,birthplace,team,htwt,experience,rankingSalary,salary
0,1999,Allen Iverson,366,allen-iverson,SG,PHI,inactive,48.0,41.458332,2.041667,...,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,NaN,15,"$9,000,000"
1,2000,Allen Iverson,366,allen-iverson,SG,PHI,inactive,70.0,40.757140,2.314286,...,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,NaN,27,"$10,125,000"
2,2001,Allen Iverson,366,allen-iverson,SG,PHI,inactive,71.0,41.957745,2.070423,...,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,NaN,17,"$11,250,000"
3,2002,Allen Iverson,366,allen-iverson,SG,PHI,inactive,60.0,43.700000,1.700000,...,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,NaN,14,"$12,375,000"
4,2003,Allen Iverson,366,allen-iverson,SG,PHI,inactive,82.0,42.500000,1.817073,...,Shooting Guard,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,NaN,11,"$13,500,000"

In [5]:
# df[df['name'] == 'LeBron James']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8162 entries, 0 to 8161
Data columns (total 54 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   year                              8162 non-null   int64
 1   name                              8162 non-null   object
 2   playerId                          8162 non-null   int64
 3   playerSlug                        8162 non-null   object
 4   positionId                        8156 non-null   object
 5   teamId                            8162 non-null   object
 6   status                            8162 non-null   object
 7   gamesPlayed                       8162 non-null   float64
 8   avgMinutes                        8162 non-null   float64
 9   avgFouls                          8162 non-null   float64
 10  flagrantFouls                     8162 non-null   float64
 11  technicalFouls                    8162 non-null   float64
 12  ejections                         8162 non-null   float64
 13  doubleDouble                      8162 non-null   float64
 14  tripleDouble                      8162 non-null   float64
 15  minutes                           8162 non-null   float64
 16  rebounds                          8162 non-null   float64
 17  fouls                             8162 non-null   float64
 18  avgRebounds                       8162 non-null   float64
 19  avgPoints                         8162 non-null   float64
 20  avgFieldGoalsMade                 8162 non-null   float64
 21  avgFieldGoalsAttempted            8162 non-null   float64
 22  fieldGoalPct                      8162 non-null   float64
 23  avgThreePointFieldGoalsMade       8162 non-null   float64
 24  avgThreePointFieldGoalsAttempted  8162 non-null   float64
 25  threePointFieldGoalPct            8162 non-null   float64
 26  avgFreeThrowsMade                 8162 non-null   float64
 27  avgFreeThrowsAttempted            8162 non-null   float64
 28  freeThrowPct                      8162 non-null   float64
 29  avgAssists                        8162 non-null   float64
 30  avgTurnovers                      8162 non-null   float64
 31  points                            8162 non-null   float64
 32  fieldGoalsMade                    8162 non-null   float64
 33  fieldGoalsAttempted               8162 non-null   float64
 34  threePointFieldGoalsMade          8162 non-null   float64
 35  threePointFieldGoalsAttempted     8162 non-null   float64
 36  freeThrowsMade                    8162 non-null   float64
 37  freeThrowsAttempted               8162 non-null   float64
 38  assists                           8162 non-null   float64
 39  turnovers                         8162 non-null   float64
 40  avgSteals                         8162 non-null   float64
 41  avgBlocks                         8162 non-null   float64
 42  steals                            8162 non-null   float64
 43  blocks                            8162 non-null   float64
 44  position                          8162 non-null   object
 45  birthdate                         8162 non-null   object
 46  college                           6750 non-null   object
 47  draftinfo                         6977 non-null   object
 48  birthplace                        7947 non-null   object
 49  team                              2304 non-null   object
 50  htwt                              2304 non-null   object
 51  experience                        2304 non-null   object
 52  rankingSalary                     8162 non-null   int64
 53  salary                            8162 non-null   object
dtypes: float64(37), int64(3), object(14)
memory usage: 3.4+ MB

In [7]:
df['salary'] = df['salary'].astype(str).str.replace(r'\$|,', '', regex = True).astype(np.float64)

In [8]:
# corr_matrix = df.corr(numeric_only = True)

In [9]:
# columns = list(corr_matrix.columns)

# cm = plt.get_cmap('jet') # viridis,inferno,plasma

# fig, ax = plt.subplots(figsize = (10, 10))
# ax.matshow(corr_matrix,cmap=cm)

# # cbar = plt.colorbar()
# # cbar.ax.set_ylabel('r')

# # ax = plt.gca() # get the current axes
# ax.set_xticks(range(len(columns)))
# ax.set_yticks(range(len(columns)))
# ax.set_xticklabels(columns)
# ax.set_yticklabels(columns)

# # Rotate the tick labels and set their alignment
# r = plt.setp(ax.get_xticklabels(), rotation=45, ha="left", rotation_mode="anchor")

In [10]:
cols = ['positionId',
        'gamesPlayed',
        'avgMinutes',
        'avgFouls',
        'flagrantFouls',
        'technicalFouls',
        'ejections',
        'doubleDouble',
        'tripleDouble',
        'minutes',
        'rebounds',
        'fouls',
        'avgRebounds',
        'avgPoints',
        'avgFieldGoalsMade',
        'avgFieldGoalsAttempted',
        'fieldGoalPct',
        'avgThreePointFieldGoalsMade',
        'avgThreePointFieldGoalsAttempted',
        'threePointFieldGoalPct',
        'avgFreeThrowsMade',
        'avgFreeThrowsAttempted',
        'freeThrowPct',
        'avgAssists',
        'avgTurnovers',
        'points',
        'fieldGoalsMade',
        'fieldGoalsAttempted',
        'threePointFieldGoalsMade',
        'threePointFieldGoalsAttempted',
        'freeThrowsMade',
        'freeThrowsAttempted',
        'assists',
        'turnovers',
        'avgSteals',
        'avgBlocks',
        'steals',
        'blocks',
        'salary']

df = df[cols]

In [11]:
df = df[df['positionId'] != 'GF'].reset_index(drop = True)

In [12]:
df['positionId'].fillna('missing', inplace = True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8161 entries, 0 to 8160
Data columns (total 39 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   positionId                        8161 non-null   object
 1   gamesPlayed                       8161 non-null   float64
 2   avgMinutes                        8161 non-null   float64
 3   avgFouls                          8161 non-null   float64
 4   flagrantFouls                     8161 non-null   float64
 5   technicalFouls                    8161 non-null   float64
 6   ejections                         8161 non-null   float64
 7   doubleDouble                      8161 non-null   float64
 8   tripleDouble                      8161 non-null   float64
 9   minutes                           8161 non-null   float64
 10  rebounds                          8161 non-null   float64
 11  fouls                             8161 non-null   float64
 12  avgRebounds                       8161 non-null   float64
 13  avgPoints                         8161 non-null   float64
 14  avgFieldGoalsMade                 8161 non-null   float64
 15  avgFieldGoalsAttempted            8161 non-null   float64
 16  fieldGoalPct                      8161 non-null   float64
 17  avgThreePointFieldGoalsMade       8161 non-null   float64
 18  avgThreePointFieldGoalsAttempted  8161 non-null   float64
 19  threePointFieldGoalPct            8161 non-null   float64
 20  avgFreeThrowsMade                 8161 non-null   float64
 21  avgFreeThrowsAttempted            8161 non-null   float64
 22  freeThrowPct                      8161 non-null   float64
 23  avgAssists                        8161 non-null   float64
 24  avgTurnovers                      8161 non-null   float64
 25  points                            8161 non-null   float64
 26  fieldGoalsMade                    8161 non-null   float64
 27  fieldGoalsAttempted               8161 non-null   float64
 28  threePointFieldGoalsMade          8161 non-null   float64
 29  threePointFieldGoalsAttempted     8161 non-null   float64
 30  freeThrowsMade                    8161 non-null   float64
 31  freeThrowsAttempted               8161 non-null   float64
 32  assists                           8161 non-null   float64
 33  turnovers                         8161 non-null   float64
 34  avgSteals                         8161 non-null   float64
 35  avgBlocks                         8161 non-null   float64
 36  steals                            8161 non-null   float64
 37  blocks                            8161 non-null   float64
 38  salary                            8161 non-null   float64
dtypes: float64(38), object(1)
memory usage: 2.4+ MB

In [14]:
from sklearn.model_selection import train_test_split

test_size = 0.2 # Test set size: 20%
random_state = 42 # Random seed
strat_train_set, strat_test_set = train_test_split(df,
                                                   test_size = test_size,
                                                   random_state = random_state,
                                                   stratify = df['positionId'])

In [15]:
strat_train_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6528 entries, 1307 to 1846
Data columns (total 39 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   positionId                        6528 non-null   object
 1   gamesPlayed                       6528 non-null   float64
 2   avgMinutes                        6528 non-null   float64
 3   avgFouls                          6528 non-null   float64
 4   flagrantFouls                     6528 non-null   float64
 5   technicalFouls                    6528 non-null   float64
 6   ejections                         6528 non-null   float64
 7   doubleDouble                      6528 non-null   float64
 8   tripleDouble                      6528 non-null   float64
 9   minutes                           6528 non-null   float64
 10  rebounds                          6528 non-null   float64
 11  fouls                             6528 non-null   float64
 12  avgRebounds                       6528 non-null   float64
 13  avgPoints                         6528 non-null   float64
 14  avgFieldGoalsMade                 6528 non-null   float64
 15  avgFieldGoalsAttempted            6528 non-null   float64
 16  fieldGoalPct                      6528 non-null   float64
 17  avgThreePointFieldGoalsMade       6528 non-null   float64
 18  avgThreePointFieldGoalsAttempted  6528 non-null   float64
 19  threePointFieldGoalPct            6528 non-null   float64
 20  avgFreeThrowsMade                 6528 non-null   float64
 21  avgFreeThrowsAttempted            6528 non-null   float64
 22  freeThrowPct                      6528 non-null   float64
 23  avgAssists                        6528 non-null   float64
 24  avgTurnovers                      6528 non-null   float64
 25  points                            6528 non-null   float64
 26  fieldGoalsMade                    6528 non-null   float64
 27  fieldGoalsAttempted               6528 non-null   float64
 28  threePointFieldGoalsMade          6528 non-null   float64
 29  threePointFieldGoalsAttempted     6528 non-null   float64
 30  freeThrowsMade                    6528 non-null   float64
 31  freeThrowsAttempted               6528 non-null   float64
 32  assists                           6528 non-null   float64
 33  turnovers                         6528 non-null   float64
 34  avgSteals                         6528 non-null   float64
 35  avgBlocks                         6528 non-null   float64
 36  steals                            6528 non-null   float64
 37  blocks                            6528 non-null   float64
 38  salary                            6528 non-null   float64
dtypes: float64(38), object(1)
memory usage: 2.0+ MB

In [16]:
strat_test_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1633 entries, 3211 to 7578
Data columns (total 39 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   positionId                        1633 non-null   object
 1   gamesPlayed                       1633 non-null   float64
 2   avgMinutes                        1633 non-null   float64
 3   avgFouls                          1633 non-null   float64
 4   flagrantFouls                     1633 non-null   float64
 5   technicalFouls                    1633 non-null   float64
 6   ejections                         1633 non-null   float64
 7   doubleDouble                      1633 non-null   float64
 8   tripleDouble                      1633 non-null   float64
 9   minutes                           1633 non-null   float64
 10  rebounds                          1633 non-null   float64
 11  fouls                             1633 non-null   float64
 12  avgRebounds                       1633 non-null   float64
 13  avgPoints                         1633 non-null   float64
 14  avgFieldGoalsMade                 1633 non-null   float64
 15  avgFieldGoalsAttempted            1633 non-null   float64
 16  fieldGoalPct                      1633 non-null   float64
 17  avgThreePointFieldGoalsMade       1633 non-null   float64
 18  avgThreePointFieldGoalsAttempted  1633 non-null   float64
 19  threePointFieldGoalPct            1633 non-null   float64
 20  avgFreeThrowsMade                 1633 non-null   float64
 21  avgFreeThrowsAttempted            1633 non-null   float64
 22  freeThrowPct                      1633 non-null   float64
 23  avgAssists                        1633 non-null   float64
 24  avgTurnovers                      1633 non-null   float64
 25  points                            1633 non-null   float64
 26  fieldGoalsMade                    1633 non-null   float64
 27  fieldGoalsAttempted               1633 non-null   float64
 28  threePointFieldGoalsMade          1633 non-null   float64
 29  threePointFieldGoalsAttempted     1633 non-null   float64
 30  freeThrowsMade                    1633 non-null   float64
 31  freeThrowsAttempted               1633 non-null   float64
 32  assists                           1633 non-null   float64
 33  turnovers                         1633 non-null   float64
 34  avgSteals                         1633 non-null   float64
 35  avgBlocks                         1633 non-null   float64
 36  steals                            1633 non-null   float64
 37  blocks                            1633 non-null   float64
 38  salary                            1633 non-null   float64
dtypes: float64(38), object(1)
memory usage: 510.3+ KB

In [20]:
nba = strat_train_set.drop('salary', axis = 1) # X without 1's
nba_num = nba.drop('positionId',axis=1) # numerical columns only
nba_cat = nba['positionId'] # Categorical attributes only
nba_labels = strat_train_set['salary'].copy() # y

In [21]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

num_attribs = nba_num.columns.tolist()

cat_attribs = nba_cat.columns.tolist()

num_pipeline = Pipeline([('imputer', SimpleImputer(strategy = 'mean')),
                         ('scaler', StandardScaler())])

cat_pipeline = Pipeline([('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
                         ('encoder', OneHotEncoder(sparse=False))])

full_pipeline = ColumnTransformer(transformers = [('num_pipeline', num_pipeline, num_attribs),
                                                  ('cat_pipeline', cat_pipeline, cat_attribs)])

nba_prepared = full_pipeline.fit_transform(nba)
print(nba_prepared.shape)
nba_prepared

AttributeError: 'Series' object has no attribute 'columns'

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

rand_forest_reg = RandomForestRegressor()

param_grid = [{'n_estimators': [3, 10, 30], 'max_features': [2, 4, 6, 8]}, # 3x4=12
              {'bootstrap':[False],'n_estimators':[3,10],'max_features':[2,3,4]}] # 1x2x3=6

grid_search = GridSearchCV(rand_forest_reg,
                           param_grid,
                           scoring = 'neg_mean_squared_error',
                           refit = True,
                           cv = 5, #5
                           return_train_score=True) # 12+6=18

grid_search.fit(nba_prepared, nba_labels) #18*5=90 rounds of training!

print(grid_search.best_params_)

In [ ]:
rand_forest_reg = grid_search.best_estimator_ # Best trained model in the whole training set

print(rand_forest_reg.get_params())

In [ ]:
d = grid_search.cv_results_

for mean_train_score,mean_test_score,params in zip(d['mean_train_score'],d['mean_test_score'],d['params']): # test_score is validation_score in this context
    print(np.sqrt(-mean_train_score),np.sqrt(-mean_test_score),params)

# Garbage

In [ ]:
df['position'].value_counts()

In [ ]:
df_filtrado = df[df['position'] != 'Guard-Forward']

In [ ]:
df['salary'].value_counts()

In [ ]:
df['salary'].mean()

In [ ]:
df['salary'].hist(bins = 100)

In [ ]:
df[['positionId', 'salary']].groupby(['positionId']).mean().sort_values(by = 'salary').plot(kind = 'bar')

In [ ]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [ ]:
grupo = df.groupby('positionId')['salary'].agg(['mean', 'median', 'sum', 'count','sem'])
grupo

In [ ]:
df = df[df['positionId'] != 'GF']

In [ ]:
df['positionId'].value_counts().sum()

In [ ]:
corr_matrix['salary'].sort_values(ascending=False)

In [ ]:
g = df.hist(bins = 50, figsize = (20, 15))

In [ ]:
num_attribs = []