In [1]:
from selenium import webdriver
from selenium.webdriver.firefox.options import Options
from selenium.webdriver.common.by import By

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re

headers = {'User-Agent':"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36"}

Copa do Brasil => 22/02 até 24/09
Brasileirão

In [24]:
options = Options()
options.headless = True

#driver = webdriver.Firefox(options=options)
driver = webdriver.Firefox()

driver.get("https://www.pinnacle.com/pt/soccer/matchups/highlights")#, headers = headers)
#driver.get("https://www.pinnacle.com")

In [25]:
div_mae = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[2]/main')
html_conteudo = div_mae.get_attribute('outerHTML')
soup = BeautifulSoup(html_conteudo, 'html.parser')

In [26]:
times = soup.find_all('span', class_='event-row-participant')
odds = soup.find_all('div', class_=re.compile('style_button-wrapper'))

In [27]:
apostas = {'Time A':[],'Time B':[],'vitoria':[], 'empate':[], 'derrota':[]}

In [28]:
for i, a in enumerate(times):
    x = a.get_text().split("(")
    if (int(i)%2 == 0):
        apostas['Time A'].append(x[0])
    if (int(i)%2 == 1):
        apostas['Time B'].append(x[0])

In [29]:
for i, a in enumerate(odds):
    if (int(i)%7 == 0):
        apostas['vitoria'].append(a.get_text())
    if (int(i)%7 == 1):
        apostas['empate'].append(a.get_text())
    if (int(i)%7 == 2):
        apostas['derrota'].append(a.get_text())

In [30]:
tabela = pd.DataFrame(apostas)

In [31]:
tabela.head(100)

                Time A                     Time B vitoria empate derrota
0   Manchester United               Leeds United    1.534  4.570   6.440
1     West Ham United                    Chelsea    3.370  3.400   2.320
2             Arsenal                  Brentford    1.427  4.960   8.090
3      Crystal Palace   Brighton and Hove Albion    3.910  3.560   2.060
4              Fulham          Nottingham Forest    1.952  3.640   4.220
5      Leicester City          Tottenham Hotspur    3.450  3.670   2.170
6         Southampton                     Wolves    3.020  3.230   2.630
7         Bournemouth           Newcastle United    6.590  4.220   1.571
8        Leeds United          Manchester United    4.260  4.020   1.847
9            AC Milan                     Torino    1.833  3.620   4.960
10             Empoli                     Spezia    2.060  3.580   3.860
11              Lecce                    AS Roma    4.520  3.330   1.990
12              Lazio                Atalanta BC    2.420  3.540   3.070
13            Udinese                   Sassuolo    2.090  3.480   3.880
14            Bologna                   AC Monza    2.240  3.400   3.540
15              Cádiz                     Girona    3.030  3.300   2.580
16            Almeria                 Real Betis    2.950  3.390   2.580
17            Sevilla                   Mallorca    1.961  3.190   5.020
18           Valencia       Athletic Club Bilbao    3.120  3.340   2.490
19             Getafe             Rayo Vallecano    2.990  2.850   2.970

https://www.flashscore.com.br/

In [113]:
tabela.to_csv("teste.csv")