In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("dados.txt")

In [4]:
df.head()

Empty DataFrame
Columns: [('10005745', 'Abel Pinheiro de Figueiredo', 9, 13, 12, 12.1, 4, 4.1, 5, 7, 4.2, 4.3, 34, 40, 26, 43, 60), ('10024989', 'Abilio Nehme', 15, 16, 6, 7.1, 0, 1, 2, 4.4, 1.1, 2.1, 24, 30, 35, 42, 59), ('10003790', 'Abimael Carlos da Costa', 14, 15.1, 9.1, 10, 0.1, 0.2, 1.2, 3, 2.2, 3.1, 26.1, 31, 36, 46, 62), ('10029156', 'Abraao Alipio Silva da Silveira', 11, 14.1, 7.2, 9.2, -2, 0.3, 6.1, 8, 5.1, 5.2, 27, 36.1, 32, 43.1, 59).1, ('10001927', 'Abraao Gomes Farah', 12.2, 15.2, 8.1, 10.1, 0.4, 0.5, 4.5, 6.2, 5.3, 5.4, 29, 36.2, 35.1, 49, 64), ('10031369', 'Abraao Silveira de Andrade', 18, 18.1, 12.3, 12.4, 0.6, 0.7, 5.5, 6.3, 2.3, 3.2, 37, 39, 33, ...]
Index: []

[0 rows x 47788 columns]