In [1]:
import pandas as pd

# Produto Interno Bruto dos Municípios (2020)

In [5]:
dfProdutoInterno = pd.read_csv('data/produto_2020.csv')

In [6]:
dfProdutoInterno.head()

,Cód.,Município,PIB (Mil Reais),Impostos (Mil Reais),VA da agropecuária (Mil Reais),VA da indústria (Mil Reais),VA dos serviços (Mil Reais),VA da administração pública (Mil Reais)
0,1100015,Alta Floresta D'Oeste (RO),570272.0,35109.0,203394.0,20716.0,150192.0,160860.0
1,1100023,Ariquemes (RO),2818049.0,295656.0,199723.0,404752.0,1207405.0,710513.0
2,1100031,Cabixi (RO),167190.0,7237.0,81177.0,5438.0,28667.0,44671.0
3,1100049,Cacoal (RO),2519353.0,274451.0,236215.0,275537.0,1157344.0,575806.0
4,1100056,Cerejeiras (RO),600670.0,89923.0,94758.0,23582.0,276755.0,115652.0

# Estimativas de População (2020)

In [7]:
dfPopulacao = pd.read_csv('data/populacao_2020.csv')

In [8]:
dfPopulacao.head()

      Cód.                   Município  População (Pessoas)
0  1100015  Alta Floresta D'Oeste (RO)              22728.0
1  1100023              Ariquemes (RO)             109523.0
2  1100031                 Cabixi (RO)               5188.0
3  1100049                 Cacoal (RO)              85893.0
4  1100056             Cerejeiras (RO)              16204.0

# DTB - Divisão Territorial Brasileira