In [2]:
import pandas as pd

In [3]:
segunda = pd.read_csv("segundaFase.csv")

In [4]:
segunda.shape

(2497, 3)

In [5]:
segunda.head()

   matricula                          nome    nota
0   10004537              Rogerio Paladino  97.50
1   10025916          Lucas da Costa Silva  97.50
2   10027366    Joao Vitor de Melo Machado  97.50
3   10021757  Victor Hugo Garcia de Farias  97.50
4   10015472  Flavio Cordeiro Rocha Junior  97.50

In [6]:
primeira = pd.read_csv("dados.csv")

In [7]:
primeira.head()

   matricula                             nome  basica  avancada  total
0   10011236        Marcelo Teixeira Silveira      31        48    127
1   10014329         Iago Carvalho Cavalcante      41        43    127
2   10005562  Vinicius de Santanna Salustiano      45        41    127
3   10029053          Maxwell Moura Fernandes      47        40    127
4   10029451       Alexandre Rodrigues Coelho      30        48    126

In [8]:
primeira.shape

(2811, 5)

In [202]:
df_ordenado.head()

                              nome nota
1706           Lucas Tavares Sousa  97
220   Antonio Agripino Nunes Moura  96
2615        Tiago de Miranda Leite  94
476    Clodoaldo Estumano da Silva  94
979           Gabriel Maia Bezerra  94

In [11]:
type(segunda['matricula'])

pandas.core.series.Series

In [12]:
type(primeira['matricula'])

pandas.core.series.Series

In [18]:
segunda['matricula'] = pd.to_numeric(segunda['matricula'])

ValueError: Unable to parse string " 25 10026545" at position 652

In [17]:
segunda.merge(primeira, on='matricula', how='outer')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [10]:
m = pd.merge(segunda, primeira, how = 'left', on = 'matricula')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [ ]:
teste = pd.read